/* Container styling */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.login-header {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input-email,
.login-input-password,
.login-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    background-color: #45a049;
}

/* Toggle button styling */
.login-toggle-password {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
    font-size: 1em;
}

.login-input-container {
    position: relative;
    display: flex;
    align-items: center;
}


/* static/css/styles.css */
body.user_welcome_page_body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.user_welcome_page_container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

h1.user_welcome_page_h1 {
    font-size: 2.2em;
    color: #333;
}

p.user_welcome_page_p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

.user_welcome_page_logout-button, .user_welcome_page_start-button {
    background-color: #ff4c4c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.user_welcome_page_kyc-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_welcome_page_kyc-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.user_welcome_page_close-modal {
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 0.8em;
    transition: background-color 0.3s;
}

.user_welcome_page_ok-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.user_welcome_page_errormessage {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

button[type="submit"].user_welcome_page_submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"].user_welcome_page_submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.user_list_body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.user_list_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.user_list_th, .user_list_td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.user_list_th {
    background-color: #333;
    color: white;
}
.user_list_loading, .user_list_error {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}
.user_list_error {
    color: #d9534f;
}

/* Modal styles */
.user_list_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    height: 70%;
    max-height: 600px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.user_list_modal_content {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    overflow-y: auto;
}

.user_list_modal_header {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.user_list_modal_header span {
    font-weight: bold;
}

.user_list_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.user_list_close_btn:hover,
.user_list_close_btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user_list_modal_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


#user_kyc_waiting_list-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#user_kyc_waiting_list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#user_kyc_waiting_list-th,
#user_kyc_waiting_list-td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#user_kyc_waiting_list-th {
    background-color: #333;
    color: white;
}

.user_kyc_waiting_list-loading,
.user_kyc_waiting_list-error {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}

.user_kyc_waiting_list-error {
    color: #d9534f;
}

/* Modal styles */
.user_kyc_waiting_list-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    height: 70%;
    max-height: 600px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.user_kyc_waiting_list-modal-content {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    overflow-y: auto;
}

.user_kyc_waiting_list-modal-header {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.user_kyc_waiting_list-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.user_kyc_waiting_list-close-btn:hover,
.user_kyc_waiting_list-close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user_kyc_waiting_list-modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* Signup container styling */
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.signup-container h2 {
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.signup-form button:hover {
    background-color: #45a049;
}

/* Toggle button styling */
.signup-toggle-password {
    position: absolute;
    right: 10px;
    top: 17px;
    cursor: pointer;
    font-size: 1em;
}

.signup-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Validation styles */
.signup-error {
    color: red;
    font-size: 0.9em;
}

.signup-valid {
    color: green;
    font-size: 0.9em;
}

/* Custom checkbox positioning */
.signup-newsletter-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.signup-newsletter-container label {
    margin-left: 8px;
}

/* Form error message styling */
.signup-form-error-msg {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}

.signup-username-suggestion {
    color: green;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}


/* admin_signup.html Styling */
.admin_signup_container { max-width: 400px; margin: 0 auto; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px; background-color: #f9f9f9; }
.admin_signup_title { text-align: center; }
.admin_signup_form_class { display: flex; flex-direction: column; }
.admin_signup_username_input[type="text"], .admin_signup_email_id_input[type="email"], .admin_signup_password_input[type="password"], .admin_signup_submit_button { width: 100%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 4px; }
.admin_signup_submit_button { background-color: #4CAF50; color: white; font-weight: bold; }
.admin_signup_submit_button:hover { background-color: #45a049; }
.admin_signup_toggle_password_class { position: absolute; right: 10px; top: 17px; cursor: pointer; font-size: 1em; }
.admin_signup_input_container { position: relative; display: flex; align-items: center; }
.admin_signup_error { color: red; font-size: 0.9em; }
.admin_signup_valid { color: green; font-size: 0.9em; }
.admin_signup_error_message { color: red; font-size: 0.9em; text-align: center; margin-top: 10px; }


/* custom_admin_login.html styling */
.custom_admin_login_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
}
.custom_admin_login_title {
    text-align: center;
}
.custom_admin_login_form_class {
    display: flex;
    flex-direction: column;
}

.custom_admin_login_email[type="email"],
.custom_admin_login_password[type="password"],
.custom_admin_login_button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.custom_admin_login_button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}
.custom_admin_login_button:hover {
    background-color: #45a049;
}
/* Toggle button styling */
.custom_admin_login_show_password {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
    font-size: 1em;
}
.custom_admin_login_input_container {
    position: relative;
    display: flex;
    align-items: center;
}

/* lottery_events_add.html Styling */
/* Grid and Card Styling */
.lottery-events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.lottery-event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

.lottery-event-card input,
.lottery-event-card textarea {
    display: none;
    width: 100%;
    margin-bottom: 5px;
}

.lottery-event-card.lottery_events_add_edit_mode input,
.lottery-event-card.lottery_events_add_edit_mode textarea {
    display: block;
}

/* Image Styling */
.lottery-event-card img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Buttons Styling */
.lottery-event-card button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.lottery-event-card button.lottery_events_add_save_button,
.lottery-event-card button.lottery_events_add_cancel_button {
    display: none;
}

.lottery-event-card.lottery_events_add_edit_mode button.lottery_events_add_edit_button {
    display: none;
}

.lottery-event-card.lottery_events_add_edit_mode button.lottery_events_add_save_button,
.lottery-event-card.lottery_events_add_edit_mode button.lottery_events_add_cancel_button {
    display: inline-block;
}

/* Error Message Styling */
.lottery_events_add_error_message {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-bottom: 5px;
    text-align: left;
}


/* lottery_events.html  Styling */
.category_section {
    margin-bottom: 40px; /* Add space between categories */
}


.category_section h2 {
    text-align: 40px;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.lottery_events_title {
    text-align: center;
    color: #333;
}

.lottery_events_displayed_container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

/* Container for the category list */
.lottery_events_category_list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.lottery_events_category_item {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.lottery_events_category_item:hover {
    background-color: #0056b3;
}
.lottery_events_event {
    background-color: #fff;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.lottery_events_event img {
    width: 100%;
    height: auto;
}

.lottery_events_event_header {
    background-color: #2b8a3e;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.lottery_events_event h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.lottery_events_event p {
    margin: 5px 0;
    color: #666;
}

.lottery_events_price {
    font-size: 1.5em;
    color: #007bff;
    font-weight: bold;
    margin-top: 5px;
}

.lottery_events_sold_percentage {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 20px;
}

.lottery_events_sold_bar {
    height: 8px;
    background-color: #007bff;
    width: 0%;
    transition: width 0.3s ease;
}

.lottery_events_enter_button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px 0;
}

.lottery_events_enter_button:hover {
    background-color: #0056b3;
}


/* Reset Form Styling */
.password-reset-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}


.password-reset-heading {
    text-align: center;
    color: #333;
}


.reset-label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}


.reset-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.reset-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.reset-button:hover {
    background-color: #45a049;
}


.reset-message {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}


/* Email Sent Message Styling */
.email-sent-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
}


.email-sent-heading {
    color: #333;
}


.email-sent-message {
    margin-top: 15px;
    font-size: 14px;
}


.email-sent-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.email-sent-button:hover {
    background-color: #45a049;
}


/*      password confirm         */


.confirm-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
}
.confirm-heading { color: #333; }
.confirm-form { display: flex; flex-direction: column; }
.confirm-input-group {
    position: relative;
    margin-bottom: 10px;
}
.confirm-input, .confirm-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.confirm-toggle-icon {
    position: absolute;
    right: 10px;
    top: 56%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    background: transparent;
    border: none;
}
.confirm-button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}
.confirm-button:hover { background-color: #45a049; }
.confirm-error {
    font-size: 0.9em;
    margin-top: 10px;
    color: red;
}
/* Confirmation Success styling */
.confirm-success {
    display: none;
    color: #333;
}
.confirm-success a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}
.confirm-success a:hover { background-color: #45a049; }

/* General reset */
#cart body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
#cart h1, #cart h2 {
    text-align: center;
}
#cart_items_container {
    display: flex;
    flex-direction: column; /* Arrange items top-to-bottom */
    align-items: center; /* Center the items horizontally */
    gap: 16px;
    padding: 16px;
}
.cart_item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 100%; /* Ensure it takes up full width */
    max-width: 400px; /* Restrict max width for large screens */
    text-align: center;
}
.cart_item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
}
.cart_item h3 {
    font-size: 18px;
    margin: 8px 0;
}
.cart_item p {
    margin: 8px 0;
}
.cart_item button {
    padding: 8px 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cart_item button:hover {
    background-color: #c0392b;
}
#cart_summary {
    margin: 16px;
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#checkout_button {
    padding: 12px 24px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#checkout_button:hover {
    background-color: #27ae60;
}
.max-limit-message {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: red;
}

/* Responsive Design */
@media (min-width: 768px) {
    #cart_items_container {
        justify-content: flex-start;
    }
    .cart_item {
        width: calc(50% - 32px); /* Two items per row */
    }
}
@media (min-width: 1024px) {
    .cart_item {
        width: calc(33.33% - 32px); /* Three items per row */
    }
}



/*----------lottery_details--------------*/
.lottery-detail-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.lot-detail-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.lot-detail-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lot-detail-image img {
    width: 300px;   /* Set a fixed width */
    height: auto;   /* Maintain aspect ratio */
}


.lot-detail-info {
    flex: 2;
    padding: 20px;
}

.lot-detail-info h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    
}

.lot-detail-info p {
    font-size: 1.1em;
    margin: 5px 0;
    
}

.lot-detail-price {
    font-size: 1.5em;
    color: #007bff;
    margin: 10px 0;
}

.lot-detail-sold-bar-container {
    margin-top: 20px;
}

.lot-detail-sold-bar-container p {
    margin: 5px 0;

}

.lot-detail-sold-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
}

.lot-detail-sold-bar-fill-class {
    background-color: #007bff;
    height: 100%;
    text-align: center;
    color: white;
    line-height: 20px;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .lot-detail-container {
        flex-direction: column;
    }

    .lot-detail-image {
        margin-bottom: 20px;
    }
}
/* General Tab Container Styles */
.lot-detail-tab-container {
    margin-top: 20px;
}

.lot-detail-tab-buttons {
    display: flex;
    border-bottom: 2px solid #ddd;
}

.lot-detail-tab-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    margin-right: 5px;
}

.lot-detail-tab-btn.active {
    background-color: #007bff;
    color: #fff;
}

.lot-detail-tab-content-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lot-detail-tab-pane {
    display: none;
}

.lot-detail-tab-pane.active {
    display: block;
}

/* Ticket Control Styles */
.lot-detail-ticket-control-container {
    margin-top: 20px;
}

.lot-detail-ticket-control-buttons {
    display: flex;
    align-items: center;
}

.lot-detail-control-btn {
    margin: 0 10px;
}

.lot-detail-ticket-slider-container {
    margin: 10px 0;
}

.lot-detail-ticket-limit-info {
    font-size: 14px;
    color: #555;
}

.lot-detail-competition {
    margin: 20px 0;
}



/* Additional Images Styling */
#additional-images-containerpopup img {
    width: 100px;
    height: auto; 
    max-width: 100%; 
    margin: 10px; 
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    cursor: pointer; /* Indicate clickable images */
    object-fit: cover; /* Ensure consistent scaling */
}
/* Popup Container */
#lot-detail-image-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Show the Popup */
#lot-detail-image-popup:not(.hidden) {
    display: flex;
}

/* Popup Content */
.lot-detail-popup-content {
    position: relative;
    text-align: center;
}

/* Popup Image */
#lot-detail-popup-image {
    max-width: 90%;
    max-height: 80vh;
}

/* Navigation Buttons */
.lot-detail-popup-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.lot-detail-prev-btn {
    left: 10px;
}

.lot-detail-next-btn {
    right: 10px;
}

/* Close Button */
.lot-detail-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Image Counter */
.lot-detail-image-counter {
    margin-top: 10px;
    color: white;
    font-size: 16px;
}
.hidden {
    display: none;
}

        /* Close button styling */
.cart-modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.cart-modal-close:hover {
    color: #ff0000;
}

        /* Modal Styles */
.cart-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.cart-modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.cart-modal-buttons {
    margin-top: 20px;
}

.cart-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-button:hover {
    opacity: 0.9;
}

.cart-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.hiddencart {
    display: none;
}
/* Button styles for modal */
#cart-keep-shopping {
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
}

#cart-keep-shopping:hover {
    background-color: #45a049;
}

#cart-view-cart {
    background-color: #007BFF; /* Blue */
    color: white;
    font-size: 16px;
}

#cart-view-cart:hover {
    background-color: #0056b3;
}
.add-to-cart-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for better button size */
    font-size: 16px; /* Text size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

#lot-detail-ticket-count {
    border: none;
    background: none;
    font-size: 16px; 
    color: #000; 
    text-align: left; 
    padding-left: 10px; 
    pointer-events: none; 
    width: 40px; 
}
.ticket-count-label {
    margin: 0 10px;
    font-size: 16px;
    color: #000; 
    font-weight: bold; 
    pointer-events: none;
}


.lottery_events_favorite i {
    color: gray;
    cursor: pointer;
}


.lottery_events_favorite i.favorited {
    color: red;
}


/*custom_admin_dashboard.html*/
/* General Reset */
.custom_admin_dashboard_container {
    display: flex;
}
/* Sidebar Styles */
.custom_admin_dashboard_sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
}
.custom_admin_dashboard_sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
.custom_admin_dashboard_sidebar nav ul  {
    list-style: none;
    padding: 0;
}
.custom_admin_dashboard_sidebar nav ul li {
    margin: 10px 0;
}
.custom_admin_dashboard_sidebar nav ul li a ,.custom_admin_dashboard_logout{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.custom_admin_dashboard_sidebar nav ul li a:hover {
    background-color: #444;
}
/* Main Content Styles */
.custom_admin_dashboard_main {
    flex: 1;
    padding: 20px;
}
.custom_admin_dashboard_topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.custom_admin_dashboard_search-bar {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.custom_admin_dashboard_account-info .custom_admin_dashboard_icon {
    margin-left: 15px;
    cursor: pointer;
}
.custom_admin_dashboard_dashboard {
    margin-top: 20px;
}
.custom_admin_dashboard_overview_count {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.custom_admin_dashboard_card {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.custom_admin_dashboard_conversion-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.custom_admin_dashboard_conversion-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.custom_admin_dashboard_conversion-table th, .custom_admin_dashboard_conversion-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.custom_admin_dashboard_conversion-table th {
    background-color: #f2f2f2;
}
.custom_admin_dashboard_overview_count {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if there isn't enough space */
    gap: 1rem; /* Adds spacing between cards */
    justify-content: flex-start; /* Aligns items to the left */
}

.custom_admin_dashboard_card {
    flex: 1 1 calc(25% - 1rem); /* Cards take up 25% of the width minus spacing */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    min-width: 200px; /* Minimum width for cards */
    max-width: 300px; /* Optional: to prevent overly wide cards */
}    
.custom_admin_dashboard_custom_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.custom_admin_dashboard_custom_table th, .custom_admin_dashboard_custom_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom_admin_dashboard_custom_table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.custom_admin_dashboard_table_title {
    font-size: 1.5em;
    margin: 20px 0 10px;
    color: #333;
    text-align: left;
}

.additional-image-field {
    margin-bottom: 10px;
}

.additional-image-field button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.additional-image-field button:hover {
    background-color: darkred;
}

.image-preview {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    margin-top: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}


/*-----------faq-----------*\
/* FAQ Container */
#faq-container {
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  /* FAQ Item */
  .faq-item {
    border-bottom: 1px solid #ddd;
  }
  .faq-item:last-child {
    border-bottom: none;
  }
  
  /* FAQ Header */
  .faq-header {
    background: #fefefe;
    color: #000000;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
  }
  .faq-header.active {
    background: orangered;
  }
  
  
  /* FAQ Icon */
  .faq-icon {
    font-weight: bold;
    font-size: 18px;
  }
  
  /* FAQ Content */
  .faq-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background: #f1f1f1;
    font-size: 17px;
    color: #333;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  .faq-content.open {
    max-height: 150px; /* Adjust based on the answer length */
    padding: 15px;
  }
  

/*-----------terms------*\
/* General Styles */
body.termsbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

/* Container */
#term-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    max-height: 80vh;
    overflow-y: auto; /* Add Scrollbar */
}

/* Headings */
.term-heading {
    color: #444;
    font-size: 2em;
    margin-bottom: 10px;
}

#term-last-revised {
    font-size: 0.9em;
    color: #777;
}

/* Sections */
.term-section {
    margin-bottom: 20px;
}

.term-title {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.term-paragraph {
    line-height: 1.6;
    font-size: 1em;
}

/* Scroll to Top Button */
#term-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#term-scroll-top:hover {
    background-color: #333;
}

/* Footer Buttons */
#term-footer {
    display: flex;
    /* justify-content: absolute; */
    /* margin-top: 10px; */
    left: 65%; 
    bottom: 20px;
    position: absolute;
}

.term-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-left: 10px;
}

.term-cancel {
    background-color: #ccc;
    color: #333;
}

.term-agree {
    background-color: #333;
    color: #fff;
}
/*-------------------contactus____________*\
/* General Styles */
/* .contact-body {
    font-family: Arial, sans-serif;
    margin: 20px;
} */

/* Form Container */
.contact-form {
    max-width: 500px;
    margin: auto;
}

/* Input Fields and Textarea */
.contact-input, 
.contact-textarea, 
.contact-button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}

/* Button Styles */
.contact-button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-button:hover {
    background-color: darkorange;
}

/* Response Message */
#contact-response-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/*-------------aboutus---*/
body.aboutbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#about-section {
    text-align: center;
    padding: 40px;
}

.about-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-card img {
    max-width: 50px;
    margin-bottom: 10px;
}

.about-card-title {
    font-size: 18px;
    margin: 10px 0;
}

.about-card-text {
    font-size: 14px;
    color: #555;
}

/*------------error---*/
body.errorbody {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#lt-error-section {
    padding: 50px;
}

#lt-error-code {
    font-size: 120px;
    color: #333;
    margin: 0;
}

#lt-error-message {
    font-size: 18px;
    color: #555;
}

#lt-back-home-btn {
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}

/*---------------------reply-----------------*/


.reply-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.reply-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reply-heading, .reply-subheading {
    color: #333;
}

#reply-message-list {
    margin-bottom: 20px;
}

.reply-message-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.reply-message-item:hover {
    background-color: #f9f9f9;
}

.reply-form {
    display: flex;
    flex-direction: column;
}

.reply-form input, .reply-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reply-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-form button:hover {
    background-color: #0056b3;
}

#reply-response-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
}
/*___________custom admin ds______________*/
.custom_admin_dashboard_lottery-events-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    /* padding-left: 23%; */
    display: none;
}
/* .lottery_cards_heading{
    padding-left: 23%; 
} */



.custom_admin_dashboard_modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.custom_admin_dashboard_modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Width of the modal */
    border-radius: 10px;
    
}

.custom_admin_dashboard_close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.custom_admin_dashboard_close-button:hover,
.custom_admin_dashboard_close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom_admin_dashboard_open-form-btn {
    font-size: 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
    
    
}

.custom_admin_dashboard_open-form-btn:hover {
    background-color: #0056b3;
}




 /* When the checkbox is checked, show all the hidden cards */
 #custom_admin_dashboard_lottery_view-more-toggle:checked ~ #lottery-events-container .lottery-event-card {
    display: block;
}

/* Style the lottery event cards */
.lottery-event-card {
    display: block;
    margin-bottom: 15px;
}

        /* Hide the "View More" button when checkbox is checked */
        #custom_admin_dashboard_lottery_view-more-toggle:checked ~ .custom_admin_dashboard_lottery_view-more-btn {
            display: none;
        }
        /* Create a hidden checkbox to control visibility */
        #custom_admin_dashboard_lottery_view-more-toggle {
            display: none;
        }
        /* Add styles for the "View More" button */
        .custom_admin_dashboard_lottery_view-more-btn {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            margin-top: 20px;
        }