<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/custom.js' %}" defer></script>
    
</head>
<body>

<div class="login-container">
    <h2 class="login-header">Login</h2>
    <form id="login-form" class="login-form" data-url="{% url 'login' %}" data-redirect-url="{% url 'user_welcome_page' %}" >
        <input type="email" id="login-email" class="login-input-email" placeholder="Email" required><br>
        <span id="login-email-error" style="color: red;"></span><br>

        <div class="login-input-container">
            <input type="password" id="login-password" class="login-input-password" placeholder="Password" required>
            <span id="login-toggle-password" class="login-toggle-password">🙈</span>
        </div>
        <span id="login-password-error" style="color: red;"></span><br>
        <span id="login-error" style="color: red;"></span><br>
        <a href="{% url 'password_reset_page' %}">Forgot password?</a>
        <button type="submit" class="login-button">Login</button>
    </form>
</div>

</body>
</html>

