{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const uidb64 = "{{ uidb64 }}";
        const token = "{{ token }}";
    </script>
    <script src="{% static 'js/custom.js' %}"></script>


</head>

<body>
    <!-- <div style="width: 100%; height: 100%; position: relative; background: white"> -->
    <div class="password-reset-container">
        <div class="password-reset-main-bg"></div>
        <div class="password-reset-left-bg">
            <div class="password-reset-left-overlay"></div>
            <div class="password-reset-circle-one"></div>
        </div>

    </div>
    <div class="password-reset-content-header">
        <h1 class="password-reset-header-title">Forget Password</h1>
        <h3 class="password-reset-header-description">
            Clarity gives you the blocks and components you need to create a truly professional website.
        </h3>
    </div>

    <!-- Password Reset Form -->
    <div id="password-reset-form-container" class="password-reset-container-unique">
        <h2 class="password-reset-heading">Reset Your Password</h2>
        {% if messages %}
        <div id="password-reset-feedback-message" class="password-reset-message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form id="password-reset-form">
            {% csrf_token %}
            <label for="reset-email" class="reset-label">Email:</label>
            <input type="email" id="reset-email" name="email" class="reset-input" required>
            <div id="reset-feedback" class="reset-message"></div>
            <button type="submit" class="reset-button">Send Reset Link</button>
        </form>
    </div>

    <!-- Email Sent Container -->
    <div id="email-container" class="password-reset-email-sent-container">
        <h2 class="password-reset-email-sent-heading">Email Sent</h2>
        <p class="password-reset-email-sent-message">
            A link to reset your password has been sent to <span id="reset-user-email"></span>.
        </p>
        <button onclick="window.location.href='/login/'" class="password-reset-email-sent-button">Return to
            Login</button>
    </div>

    <div class="password-reset-welcome-section">
        <h1 class="password-reset-welcome-title">Welcome to our community</h1>
        <p class="password-reset-welcome-description">
            Clarity gives you the blocks & components you need to create a truly professional website.
        </p>
    </div>
    <img class="password-reset-lottery-image-one" src="/media/lottery_images/image%201209.svg" alt="Lottery Image" />
    <img class="password-reset-lottery-image-two" src="/media/lottery_images/image%2030.svg" alt="Lottery Image" />
    <!-- </div> -->

</body>

</html>