{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter New Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
   
    <script>
    const uidb64 = "{{ uidb64 }}";
    const token = "{{ token }}";
    const csrfToken = "{{ csrf_token }}";
</script>

</head>
<body>
<div class="confirm-container">
    <!-- Password Confirm Form -->
    <div id="form-container">
        <h2 class="confirm-heading">Enter New Password</h2>
        <form id="reset-password-form">
            {% csrf_token %}
            <div class="confirm-input-group">
                <label for="password1">New Password:</label>
                <input type="password" id="password1" class="confirm-input" name="password1" required>
                <span class="confirm-toggle-icon" data-target="password1">🙈</span>
            </div>

            <div class="confirm-input-group">
                <label for="password2">Confirm New Password:</label>
                <input type="password" id="password2" class="confirm-input" name="password2" required>
                <span class="confirm-toggle-icon" data-target="password2">🙈</span>
                <div id="password1-validation" class="confirm-error"></div>
            </div>
            <div id="error-message" class="confirm-error"></div>
            <button type="submit" class="confirm-button">Reset Password</button>
            <div id="password2-validation" class="confirm-error"></div>
        </form>
    </div>

    <!-- Password Confirm Complete Message -->
    <div id="success-message" class="confirm-success">
        <h2>Your password has been reset successfully!</h2>
        <a href="/login/">Login</a>
    </div>
</div>

</body>
</html>
