{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter New Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
        const uidb64 = "{{ uidb64 }}";
        const token = "{{ token }}";
        const csrfToken = "{{ csrf_token }}";
    </script>


</head>

<body>
    <div class="container">
        <div class="inner-container">
            <div class="background-light"></div>
            <div class="background-orange">
                <div class="background-dark">
                    <div class="background-dark-overlay"></div>
                    <div class="background-white-circle"></div>
                </div>
            </div>
            <div class="title">New Password</div>
        </div>

        <div class="confirm-containers">
            <div id="form-container" class="form-container">
                <form id="reset-password-form" class="reset-password-form">
                    {% csrf_token %}
                    <div class="confirm-input-group">
                        <input type="password" id="password1" class="confirm-input" name="password1"
                            placeholder="New Password" required>

                        <span class="confirm-toggle-icon" id="toggle-password1" data-target="password1">🙈</span>


                        <div id="password1-validation" class="confirm-error"></div>
                    </div>

                    <div class="confirm-input-group">
                        <input type="password" id="password2" class="confirm-input" name="password2"
                            placeholder="Confirm New Password" required>
                        <span class="confirm-toggle-icon" id="toggle-password2" data-target="password2">🙈</span>
                        <div id="password2-validation" class="confirm-error"></div>
                    </div>

                    <div id="error-message" class="confirm-error"></div>

                    <button type="submit" class="confirm-button">Reset Password</button>
                </form>
            </div>
        </div>

        <div class="welcome-container">
            <div class="welcome-title">Welcome to our community</div>
            <div class="welcome-description">Clarity gives you the blocks & components you need to create a truly
                professional website.</div>
        </div>

        <img class="lottery-image" src="/media/lottery_images/image%201209.svg" alt="Lottery Image">
        <img class="logo-image" src="/media/lottery_images/image%2030.svg" alt="Lottery Image">
    </div>


    <!-- Password Confirm Complete Message -->
    <div id="success-message" class="confirm-success">
        <div class="success-container">
            <div class="success-content">
                <div class="success-inner">
                    <div class="success-image">
                        <img src="/media/lottery_images/Sticker.png" alt="Sticker" />
                        <div class="Successful1"></div>
                    </div>
                    <div class="Successful2">
                        <div class="Successful3">Successful</div>
                    </div>
                    <div class="Successful4">
                        Congratulations! Your password has<br />been changed. Click continue to login
                    </div>
                    <div class="Successful5">
                        <a href="/login/" class="login-link-custom">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</body>

</html>