<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const checkusernameUrl = "{% url 'check_username' %}";
        const checkemailUrl = "{% url 'check_email' %}";
        const registerUrl = "{% url 'register' %}";
        const userloginUrl = "{% url 'user_login' %}";
    </script>
    <script src="{% static 'js/custom.js' %}" defer></script>
</head>

<body>
    <div class="main-container-custom">
        <div class="inner-container-custom">
            <div class="background-custom"></div>
            <div class="orange-background-custom"></div>
            <div class="dark-background-custom">
                <div class="circle1-custom"></div>
                <div class="circle2-custom"></div>
            </div>
        </div>
        <div class="welcome-message-custom">
            <div class="welcome-title-custom">Welcome !</div>
            <div class="welcome-subtitle-custom">
                Clarity gives you the blocks and components you need to create a truly professional website.
            </div>
        </div>

        <!-- Signup Form Container -->
        <div class="signup-container-custom">
            <!-- <h2 class="signup-title-custom">Signup</h2> -->
            <div class="fullname-label">
                Full name
            </div>


            <form id="signup" class="signup-form">
                <div class="form-group-custom">
                    <input type="text" id="signup-username" placeholder="Username" required>
                    <span id="signup-username-error" class="signup-error-custom"></span><br>
                    <span id="signup-username-suggestion" class="signup-suggestion-custom"></span><br>
                </div>
                <div class="email-label">
                    Email address
                </div>
                <div class="form-group-custom">
                    <input type="email" id="signup-email" placeholder="Email" required>
                    <span id="signup-email-error" class="signup-error-custom"></span><br>
                </div>
                <div class="password-label">
                    Password
                </div>
                <div class="form-group-custom">
                    <input type="password" id="signup-password" placeholder="Password (min 8 characters)" required>
                    <span id="signup-password-error" class="signup-error-custom"></span><br>
                </div>

                <!-- <div class="form-group-custom">
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <input type="checkbox" id="signup-newsletter">
                        <label for="signup-newsletter">Subscribe to newsletter</label>
                    </div>
                </div> -->

                <!-- Error message for form submission -->
                <div id="signup-form-error-message" class="signup-form-error-msg"></div>

                <div class="form-submit-custom">
                    <button type="submit" class="submit-btn-custom">Sign Up</button>
                </div>
                <div class="separator-container">
                    <div class="separator-line"></div>
                    <div class="separator-text">
                        or do it via other accounts
                    </div>
                    <div class="separator-line"></div>
                </div>

                <div class="google-signin-custom">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="submit-btn-custom1">
                        <img src="media/lottery_images/search%201.png" alt="Google Signin" class="google-signin-img">
                        Gmail
                    </a>
                </div>




                <p class="login-link-custom">Already have an account? <a href="{% url 'user_login' %}">Login here</a>
                </p>


            </form>
        </div>

        <!-- Other account option -->
        <div class="account-option-custom"></div>
    </div>

    <div class="left-text">
        <div class="welcome-text">
            Welcome to our community
        </div>
        <div class="description-text">
            Clsssarity gives you the blocks & components you need to create a truly professional website.
        </div>
    </div>
    <img class="lottery-image" src="media/lottery_images/image%201209.svg" alt="Lottery Image" />
    <img class="small-lottery-image" src="media/lottery_images/image%2030.svg" alt="Lottery Image" />

</body>

</html>