<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const checkusernameUrl = "{% url 'check_username' %}";
        const checkemailUrl = "{% url 'check_email' %}";
        const registerUrl = "{% url 'register' %}";
        const userloginUrl = "{% url 'user_login' %}";
    </script>
    <script src="{% static 'js/custom.js' %}" defer></script>
    </head>
    <body>
    
    <div class="signup-container">
        <h2>Signup</h2>
        <form id="signup" class="signup-form">
            <input type="text" id="signup-username" placeholder="Username" required><br>
            <span id="signup-username-error" class="signup-error"></span><br>
            <span id="signup-username-suggestion" class="signup-suggestion" style="display:none;"></span><br>
    
            <input type="email" id="signup-email" placeholder="Email" required><br>
            <span id="signup-email-error" class="signup-error"></span><br>
    
            <div class="signup-input-container">
                <input type="password" id="signup-password" placeholder="Password (min 8 characters)" required>
                <span id="signup-toggle-password" class="signup-toggle-password">🙈</span>
            </div>
            <span id="signup-password-error" class="signup-error"></span><br>
    
            <div class="signup-newsletter-container">
                <input type="checkbox" id="signup-newsletter">
                <label for="signup-newsletter">Subscribe to newsletter</label>
            </div>
     <!-- Error message for form submission -->
     <div id="signup-form-error-message" class="signup-form-error-msg"></div>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="{% url 'user_login' %}">Login here</a></p>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Signin with Google</a>

           
        </form>
    </div>
   

</body>
</html>
