{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
  <script src="{% static 'js/custom.js' %}"></script>
</head>
<body class="aboutbody">
    <section id="about-section">
        <h1 id="about-heading">Who We Are</h1>
        <p id="about-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
        <div class="about-card-container">
            <div id="card-1" class="about-card">
                <!-- <img id="icon-rocket" src="/static/icons/rocket.png" alt="Rocket Icon"> -->
                <h3 id="card-title-1" class="about-card-title">Heading 1</h3>
                <p id="card-text-1" class="about-card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
            </div>
            <div id="card-2" class="about-card">
                <!-- <img id="icon-bulb" src="/static/icons/bulb.png" alt="Bulb Icon"> -->
                <h3 id="card-title-2" class="about-card-title">Heading 2</h3>
                <p id="card-text-2" class="about-card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
            </div>
            <div id="card-3" class="about-card">
                <!-- <img id="icon-360" src="/static/icons/360.png" alt="360 Icon"> -->
                <h3 id="card-title-3" class="about-card-title">Heading 3</h3>
                <p id="card-text-3" class="about-card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
            </div>
        </div>
    </section>
   
</body>
</html>
