<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Admin Signup</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        const adminapiAdminSignupUrl = "{% url 'api_admin_signup' %}";
        const adminapiAdminloginupUrl = "{% url 'custom_admin_login' %}";
    </script>

</head>

<body>
    <div class="admin-signup-first-container">
        <div class="admin-signup-wrapper">
            <div class="admin-signup-background"></div>
            <div class="admin-signup-left">
                <div class="admin-signup-left-section"></div>
                <div class="admin-signup-inner-wrapper">
                    <div class="admin-signup-inner-section"></div>
                    <div class="admin-signup-circle-1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="admin-signup-welcome-container">
        <div class="admin-signup-welcome-title">Welcome !</div>
        <div class="admin-signup-welcome-description">
            Clarity gives you the blocks and components you need to create a truly professional website.
        </div>
    </div>
    </div>
    <div class="admin-signup-container">
        <!-- <h2 class="admin-signup-title">Admin Signup</h2> -->

        <form id="admin_signup_form" class="admin-signup-form-class">
            <div class="admin-form">
                <h3 for="admin-signup-username-input" class="admin-signup-fullname-label">
                    Full name
                </h3>

                <input type="text" id="admin_signup_username_id" class="admin-signup-username-input"
                    placeholder="Admin Username" required>
                <span id="admin_signup_username_error" class="admin-signup-error"></span>
            </div>
            <div class="admin-form">
                <h3 class="admin-signup-email-label">
                    Email address
                </h3>
                <input type="email" id="admin_signup_email_id" class="admin-signup-email-id-input"
                    placeholder="Admin Email" required>
                <span id="admin_signup_email_error" class="admin-signup-error"></span>
            </div>
            <div class="admin-form">
                <h3 class="admin-signup-password-label">
                    Password
                </h3>
                <div class="admin-signup-input-container">

                    <input type="password" id="admin_signup_password_id" class="admin-signup-password-input"
                        placeholder="Password (min 8 characters)" required>
                    <span id="admin_signup_toggle_password" class="admin-signup-toggle-password-class">
                        <img src="/media/images/eye-slash.png" alt="Show Password" class="toggle-eye-icon" >
                    </span>
                </div>

            </div>
             <!-- Password Validation Message Box -->
<div id="admin_password_message" class="admin_password-message">
    <p id="admin_password_uppercase" class="invalid" class="admin-password-show">❌ Password must contain at least one uppercase letter</p>
    <p id="admin_password_lowercase" class="invalid" class="admin-password-show">❌ Password must contain at least one lowercase letter</p>
    <p id="admin_password_number" class="invalid" class="admin-password-show">❌ Password must contain at least four number</p>
    <p id="admin_password_special" class="invalid" class="admin-password-show">❌ Password must contain at least one special character</p>
    <p id="admin_password_length" class="invalid" class="admin-password-show">❌ Password must be at least 8 characters long</p>
</div>
            <button type=" submit" class="admin-signup-submit-button">Register Admin</button>
            <p>Already have an account? <a href="{% url 'custom_admin_login' %}">Login here</a></p>
            <div id="admin_signup_form_error_message" class="admin-signup-error-message"></div>
        </form>
    </div>
    </div>

    <div class="admin_login_welcome-text-block">
        <div class="admin_login_welcome-title">Welcome to our community</div>
        <div class="admin_login_welcome-description">
            Clarity gives you the blocks & components you need to create a truly professional website.
        </div>
    </div>
    </div>
    <img src="/media/lottery_images/image%201209.png" class="lottery-image" />

    <img src="/media/lottery_images/image%2030.png" class="small-lottery-image" />

</body>

</html>