{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const cartUrl = "{% url 'cart' %}";  
        const api_get_cart_url = "{% url 'api_get_cart' %}";
        const api_get_categories_url = "{% url 'api_get_lottery_categories' %}";
        window.onload = function () {
            fetchCartItems();
            updateCartCount();
            updateCartCount_cartpage();
            header_navbar_fetchCategories();
            updateFavoritesCount();
            setupDropdown(".dropbtn_competitions", ".dropdown-content_competitions");
        }; 
    </script>
    <script src="{% static 'js/custom.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body class="cartbody-container">
    {% include 'header.html' %}
   
     <div id="cart">
         <h1 class="cartheading">Shopping bag</h1>
        <p class="belowheading">
        <span class="availableitem"  id="cart-item-count-cartpage">0</span><span class="availableitem" id="availableitems">items</span></span>
        <span class="availableitemp">in your bag.</span>
        </span>  
        <div class="cart-container">
            <div id="cart_items_container">
                
            </div>
            
            <div class="cart-summary">
                <div class="summary">
                <p class="cartorder">Order Summary</p>
                <p class="subtotal">
                    <span class="subtotal-text">Sub Total</span>
                    <span id="totalsub">£61.00</span>
                </p>

                <p class="cartdiscount">
                    <span class="discount-text">Discount</span>
                    <span class="discountprice">£00.00</span>
                </p>

                <p class="total">
                    <span class="total-text">Total</span>
                    <span id="cart_total">0.00</span>
                </p>
                
                <button id="checkout_button" onclick="proceedToCheckout()">Continue to checkout</button>
            </div>
            </div>
        </div>
    </div> 
    
</body>
{% include 'footer.html' %}
</html>

