{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <script>
        const pubish_winner_csrfToken = "{{ csrf_token }}"; 
        const api_navbar_access_tabsView_url = "{% url 'api_navbar_access_tabsView' %}";
        const api_dashboard_preview_admin_view_url = "{% url 'api_dashboard_preview_admin_view' %}";
        const adminupdaetkycapprovalUrl = "{% url 'user-kyc-status-update' %}";
        const csrfToken = "{{ csrf_token }}";
        const lottery_events_add_csrftoken = "{{ csrf_token}}";
        const api_get_lottery_events_url_admin = "{% url 'api_get_lottery_events_admin' %}";
        const api_lottery_events_add_url = "{% url 'api_lottery_events_add' %}";
        const apiEditDeleteLotteryEventsUrl = "{% url 'api_edit_delete_lottery_events' 0 %}";
        const get_lottery_categories_url = "{% url 'get-lottery-categories' %}";
        const admin_chats_csrfToken = "{{ csrf_token }}";
        const custom_admin_dashboard_csrfToken = "{{ csrf_token }}";
        window.onload = function () {
            initializeDashboard();
           
            filterCategories();
            lottery_events_add_budget_calculation();
            admin_lottery_add_additional_images();
        };
    </script>
   <style>
    /* winners_wall_testimonial_error_message validation */

    .winners_wall_testimonial_error_message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    display: none;
}

        .filter-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

.filter-group label {
    font-weight: bold;
    color: #555;
}

.filter-group select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    min-width: 150px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
}

button:hover {
    background-color: #45a049;
}
   </style>

</head>

<body class="custom_admin_dashboard_body">
    <div class="custom_admin_dashboard_container">
        <div id="custom_admin_dashboard_hamburger_menu_id" class="custom_admin_dashboard_hamburger_menu"
            onclick="toggleSidebar()">☰</div>
        <img src="/media/images/logo.png" class="admin-dashboard-small-lottery-image" />
        <aside class="custom_admin_dashboard_sidebar">
            <nav>
                <ul>
                </ul>
                <a class="custom_admin_dashboard_logout" href="{% url 'admin_logout_view' %}">
                    <img src="/media/admin_files/logout.png" alt="Logout"
                        style="height: 20px; vertical-align: middle; margin-right: 6px;">
                    Logout
                </a>

            </nav>
        </aside>
        <main class="custom_admin_dashboard_main">
            <header class="custom_admin_dashboard_topbar">
                <div class="custom_admin_dashboard_account-info">
                    <div id="notification-bell-container" hidden>
                        <div id="notification-bell">
                            <img id="notification_img" src="https://cdn-icons-png.flaticon.com/512/1827/1827392.png"
                                alt="Notification Bell">
                            <div id="notification-count">0</div>
                        </div>

                        <div id="notification-popup">
                            <p id="no-notifications">No new notifications</p>
                            <div id="notification-section">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="custom_admin_dashboard_dashboard">
                <h1>Overview</h1>

                <div id="custom_admin_dashboard_user_detail_page" class="custom_admin_dashboard_user_details">

                </div>
                <div id="custom_admin_dashboard_transactions_management"
                    class="custom_admin_dashboard_transaction_manage">
                </div>
                <div id="custom_admin_dashboard_transactions_management_refunded"
                    class="custom_admin_dashboard_transaction_manage_refunded" style="display: none;">
                </div>
                 <div id="custom_admin_dashboard_all_transactions_management"
                    class="custom_admin_dashboard_all_transaction_manage"  style="display: none;">
                </div>

                <div id="custom_admin_dashboard_prize_management_id"
                    class="custom_admin_dashboard_prize_management_class">
                </div>

              
                <div id="custom_admin_dashboard_winners_wall_management_winners_and_testimonials"
                class="custom_admin_dashboard_winners_wall_management_winners_and_testimonials_class">
                </div>
               
                <div class="draws-lottery-container" id="draw-lottery-container"></div>

                <div id="custom_admin_dashboard_overview_lottery_won_lost_count">

                </div>
                <div class="overview_dashboard" id="admin_dashboard_overview_won_lost_mariginal_charts">
                  
                    <div class="overview_chart-container">
                      <div class="admin_dashboard_overview_overall_won_and_lost_lotteries_report_chart_class" 
                            id="admin_dashboard_overview_overall_won_and_lost_lotteries_report_chart">
                        </div>
                    </div>
                    <div class="overview_chart-container">
                    <div class="report_and_analytics_marginal_chart_class" id="report_and_analytics_marginal_chart">
                      
                    </div>
                    </div>
                </div>
                


                <div style=" display: none;opacity: 0;position: absolute; width: 98%;"
                    id="custom_admin_dashboard_dynamic_lottery_sales_count_and_bar_chart">
                    <h2 class="Report_Analytics">Report & Analytics</h2>
                    <div class="custom_admin_dashboard_overview_statistics_count" id="custom_admin_dashboard_report_and_analytics_statistics_count">
                    </div>

                    <div class="report_and_analytics_monthly_sales_bar_chart_class" id="report_and_analytics_monthly_sales_bar_chart">
                       
                    </div>

                    <div class="report_and_analytics_Pending_vs_completed_draws_pie_chart_class" 
                            id="report_and_analytics_Pending_vs_completed_draws_pie_chart">
                    </div>
                    <div class="report_and_analytics_winners_vs_losers_chart_class" 
                        id="report_and_analytics_winners_vs_losers_chart">
                    </div>
                    <div class="report_and_analytics_overall_transaction_report_chart_class" 
                    id="report_and_analytics_overall_transaction_report_chart">
                    </div>
                     



                    
                </div>
                <div class="custom_admin_dashboard_user_table" id="custom_admin_dashboard_user_list_table">

                </div>
                <div id="lottery_cards_add_and_list" hidden>
                    <div class="lottery_cards_heading">
                        <h2 class="lottery_card_title2">Admin Management Lotteries</h2>
                        <h2 id="lottery_card_title"></h2>
                    </div>
                    <div id="lottery_header_filter-containers" hidden>


                        <button id="custom_admin_dashboard_openFormButton" class="custom_admin_dashboard_open-form-btn">
                            Add Lotteries
                            <img src="/media/admin_files/Group1.png" style="height: 12px; width: 14px;"
                                alt="Button Icon">
                        </button>

                       
                        <select id="category-filter" class="admin-dashboard-category-filter"
                            onchange="fetchLotteryEvents('', this.value)" style="display:inline-block;">
                            <option value="">All Categories</option>
                        </select>
                        <input type="text" id="lottery-search-input" placeholder="Search by title..."
                            oninput="fetchLotteryEvents(this.value)" />

                    </div>

                    <div id="lottery-events-wrapper">
                        <input type="checkbox" id="custom_admin_dashboard_lottery_view-more-toggle">
                        <div id="lottery-events-container" class="custom_admin_dashboard_lottery-events-grid">
                            <div class="pagination-loading"><div class="spinner"></div>Loading lotterys...</div>
                        </div>
                        <div id="pagination-container"></div>


                    </div>
                </div>

                <div class="admin_contact_reply_container" id="admin_reply_chat_bot"
                    style=" display: none;opacity: 0;position: absolute;">
                    <h1 class="admin_contact_reply_heading">Contact Messages</h1>
                    <span class="search-container">
                        <input type="text" id="searchEmail" placeholder="Search by email..." oninput="filterEmails()">
                    </span>
                    <div id="noUsersMsg" style="display: none; text-align: center; color: gray; margin-top: 20px;">
                        user not found.
                    </div>
                    
                    <span class="delete_Container" style="display:flex"></span>
                    <div style="display: flex;">


                        <div id="all_users_name" class="admin_contact_reply_chat_container">
                        </div>
                        <div id="user_specfic_chat">
                            <div id="userChat_Icons" style="display:flex">
                            </div>

                            <input type="email" id="admin_contact_reply_email" name="email" placeholder="User Email"
                                hidden>
                            <input type="text" id="Chat_UserId" name="Chat_UserId" placeholder="Username" hidden>
                            <h3 id="user_email"></h3>

                            <div id="specfic_user_chats">
                                user chat
                            </div>

                            <div id="admin_contact_reply_form_container" style="display: none;">
                                
                                <form id="admin_contact_reply_form" class="admin_reply_form">

                                    <div class="textarea-wrapper">

                                        <textarea id="admin_contact_reply_message" name="message"
                                            placeholder="Your reply..."></textarea>
                                    </div>
                                    <label for="admin_contact_reply_file" class="custom-file-upload">
                                        <i class="fa fa-paperclip" id="Choosefile"></i>
                                    </label>
                                    <button type="submit" id="send-reply-btn">➤</button>
                                    <input type="file" id="admin_contact_reply_file" style="display: none;" name="file"
                                        accept="image/*,.pdf,.doc,.docx,.xlsx,.pptx ">
                                    <p id="file-name"></p>

                                </form>
                                <p id="admin_contact_reply_response_message"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <div id="admin_contact_reply_editMessageModal" class="admin_contact_reply_modal" style="display: none;">
        <div class="admin_contact_reply_modal_content">
            <span class="admin_contact_reply_close" id="admin_contact_reply_closeEditModal">&times;</span>
            <h2>Edit Message</h2>
            <form id="admin_contact_reply_editMessageForm">
                <textarea id="admin_contact_reply_editMessageInput" placeholder="Edit your message..."
                    rows="4"></textarea>
                <input type="file" id="admin_contact_reply_editMessageFile"
                    accept="image/*,.pdf,.doc,.docx,.xlsx,.pptx" />
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <div id="custom_admin_user_kyc_waiting_list-kycModal" class="user_kyc_waiting_list-modal">
        <div class="user_kyc_waiting_list-modal-content">
            <div class="user_kyc_waiting_list-modal-header">
                <span id="custom_admin_user_kyc_waiting_list-userName"></span> |
                <span id="custom_admin_user_kyc_waiting_list-userEmail"></span> |
                <span id="custom_admin_user_kyc_waiting_list-kycStatus"></span>
            </div>
            <span class="user_kyc_waiting_list-close-btn">&times;</span>
            <img id="custom_admin_user_kyc_waiting_list-kycImage" class="user_kyc_waiting_list-modal-image" src=""
                alt="KYC Image">
        </div>
    </div>

    <div id="lotteryEventModal" class="custom_admin_dashboard_modal">
        <div class="custom_admin_dashboard_modal-content">
            <span class="custom_admin_dashboard_close-button" id="custom_admin_dashboard_closeModal">&times;</span>
            <h2>Add New Lottery Event</h2>
            <form id="addLotteryEventForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="custom_admin_dashboard_title">
                    <input type="text" id="new_lottery_title" class="custom_admin_dashboard_modal_title" name="title"
                        placeholder="Title" required><br>
                    <span class="lottery_events_add_title_error" id="lottery_events_add_title_validation"></span><br>
                </div>
                <div class="custom_admin_dashboard_slug" style="display:none" ;>
                    <input type="text" name="slug" placeholder="Slug (leave blank to auto-generate)" optional><br>
                    <span class="lottery_events_add_slug_error" id="lottery_events_add_slug_validation"></span><br>
                </div>
                <div class="custom_admin_dashboard_description">
                    <textarea name="description" placeholder="Description" required></textarea><br>
                    <span class="lottery_events_add_description_error"
                        id="lottery_events_add_description_validation"></span><br>
                </div>

                <label for="category">Category:</label>
                <div class="custom_admin_dashboard_category">
                    <select id="lottery_events_add_category" name="category" required>
                        <option value="">Select Category</option>
                    </select>
                    <span class="lottery_events_add_category_error"
                        id="lottery_events_add_category_validation"></span><br>
                </div>

                <div class="custom_admin_dashboard_price" style="display: none;">
                    <input type="number" name="price" placeholder="Price" min="0" value="0"><br>
                    <span class="lottery_events_add_price_error" id="lottery_events_add_price_validation"></span><br>
                </div>

                <div class="custom_admin_dashboard_draw_date">
                <input type="datetime-local" name="draw_date" id="lottery_draw_date" required onkeydown="return false;"><br>

                    <span class="lottery_events_add_drawdate_error"
                        id="lottery_events_add_drawdate_validation"></span><br>
                </div>

                <div class="custom_admin_dashboard_image">
                    <input type="file" name="image" accept="image/*" required><br>
                    <span class="lottery_events_add_image_error" id="lottery_events_add_image_validation"></span><br>
                </div>

                <div class="custom_admin_dashboard_is_active">
                    <input type="checkbox" name="is_active" checked> Active<br>
                    <span class="lottery_events_add_isactive_error"
                        id="lottery_events_add_isactive_validation"></span><br>
                </div>

                <label for="totalBudget">Total Budget Amount:</label>
                <div class="custom_admin_dashboard_total_budget">
                    <input type="number" id="lottery_events_add_totalBudget" name="total_budget"
                        placeholder="Enter Total Budget" min="0" required><br>
                    <span class="lottery_events_add_budget_error" id="lottery_events_add_budget_validation"></span><br>
                </div>

                <label for="revenueType">Revenue Type:</label>
                <div class="custom_admin_dashboard_revenue_type">
                    <select id="lottery_events_add_revenueType" name="revenue_type">
                        <option value="fixed">Fixed Amount</option>
                        <option value="percentage">Percentage</option>
                    </select><br>
                    <span class="lottery_events_add_revenue_type_error"
                        id="lottery_events_add_revenue_type_validation"></span><br>
                </div>

                <div id="lottery_events_add_fixedAmountInput" class="custom_admin_dashboard_fixed_revenue">
                    <label for="fixedRevenue">Fixed Revenue Amount:</label>
                    <input type="number" id="lottery_events_add_fixedRevenue" name="fixed_revenue"
                        placeholder="Enter Fixed Revenue" min="0"><br>
                    <span class="lottery_events_add_fixed_revenue_error"
                        id="lottery_events_add_fixed_revenue_validation"></span><br>
                </div>

                <div id="lottery_events_add_percentageInput" class="custom_admin_dashboard_percentage_revenue"
                    style="display: none;">
                    <label for="percentageRevenue">Percentage Revenue:</label>
                    <input type="number" id="lottery_events_add_percentageRevenue" name="percentage_revenue"
                        placeholder="Enter percentage" min="0" max="100"
                        oninput="this.value = Math.min(Math.max(this.value, 0), 100)" required><br>
                    <span class="lottery_events_add_percentage_revenue_error"
                        id="lottery_events_add_percentage_revenue_validation"></span><br>
                </div>

                <div id="lottery_events_add_total_amount_container" class="custom_admin_dashboard_total_amount"
                    style="display: none;">
                    <label for="totalAmount">Total Amount:</label>
                    <input type="number" id="lottery_events_add_totalAmount" name="total_amount" readonly><br>
                    <span class="lottery_events_add_total_amount_error"
                        id="lottery_events_add_total_amount_validation"></span><br>
                </div>

                <label for="perTicketPrice">Per Ticket Price:</label>
                <div class="custom_admin_dashboard_per_ticket_price">
                    <input type="number" id="lottery_events_add_perTicketPrice" name="per_ticket_price"
                        placeholder="Enter Per Ticket Price" min="0" required><br>
                    <span class="lottery_events_add_per_ticket_error"
                        id="lottery_events_add_per_ticket_validation"></span><br>
                </div>

                <div id="lottery_events_add_total_tickets_container" class="custom_admin_dashboard_total_tickets"
                    style="display: none;">
                    <label for="totalTickets">Total Tickets:</label>
                    <input type="number" id="lottery_events_add_totalTickets" name="calculated_total_tickets"
                        readonly><br>
                    <span class="lottery_events_add_total_tickets_error"
                        id="lottery_events_add_total_tickets_validation"></span><br>
                </div>

                <div class="custom_admin_dashboard_mini_limit" style=" display: none;opacity: 0;position: absolute;">
                    <input type="number" name="mini_limit" placeholder="Minimum Tickets" min="1" value="1"><br>
                    <span class="lottery_events_add_minilimit_error"
                        id="lottery_events_add_minilimit_validation"></span><br>
                </div>

                <div class="custom_admin_dashboard_max_limit">
                    <input type="number" name="max_limit" placeholder="Maximum Tickets" min="0" required><br>
                    <span class="lottery_events_add_maxlimit_error"
                        id="lottery_events_add_maxlimit_validation"></span><br>
                </div>



                <div class="custom_admin_dashboard_competition_details">
                    <textarea name="competition_details" placeholder="Competition Details" required></textarea><br>
                    <span class="lottery_events_add_competitiondetails_error"
                        id="lottery_events_add_competitiondetails_validation"></span><br>
                </div>


                <h3>Additional Images</h3>
                <div id="additional-images-container">
                </div>
                <button type="button" class="custom_admin_dashboard_button" id="add-image-button">Add Another
                    Image</button>
                <br><br>
                <button type="button" class="custom_admin_dashboard_button" onclick="submitAddLotteryEvent()">Add
                    Event</button>
            </form>
        </div>
    </div>
    <div id="draw-winner-lottery-modal" class="draws-lottery-modal">
        <h3>Lottery Draw Result</h3>
        <p id="draw-winner-modal-message"></p>
       
        <div id="publish-winner-container">
            <label>
                <input type="checkbox" id="publish-winner"> Publish Winner
            </label><br>
        </div>
       <div id="draws-otp-verification-container" style="display: none;">
            <p>An OTP has been sent to your email. Please verify:</p>
            <input type="text" id="draws-otp-input" placeholder="Enter OTP" maxlength="6">
            <button id="draws-resend-otp">Resend OTP</button>
            <p id="draws-otp-status"></p>
        </div> 
        <button id="draw-winner-close-modal" class="draws-lottery-close-modal">OK</button>
    </div>

    <div id="draw-winner-modal-overlay" class="draws-lottery-overlay-modal"></div>

<div id="draws-success-modal" class="draws-lottery-modal">
    <h3>Success</h3>
    <p id="draws-success-message"></p>
    <button id="draws-success-modal-close" class="draws-lottery-close-modal">OK</button>
</div>

<div id="draws-success-modal-overlay" class="draws-lottery-overlay-modal"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'plugins/chart.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx-js-style@1.2.0/dist/xlsx-js-style.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>


</html>