{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>
<body>
    {% include 'header.html' %}
    <h1 style="text-align: center;font-family: Rajdhani;">Your Favorite Lotteries</h1>
    <div id="favorites_container">
        <!-- This will be populated with the list of favorite events -->
    </div>
    <button id="load_more_button" onclick="loadMoreFavorites()" style="display: none; padding: 10px 20px; background-color: #ff6600; color: white; border: none;  cursor: pointer; margin: 20px auto; display: block;">
        Load More
    </button>
    {% include 'footer.html' %}
    <script>const add_csrftoken="{{ csrf_token}}"; </script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        let allFavorites = []; // Store all favorites globally
        let displayedCount = 4; // Number of initially displayed items
        // Fetch the favorites when the page loads
        window.onload = function() {
            fetchFavorites();
            updateCartCount(); 
            updateFavoritesCount();
            header_navbar_fetchCategories();
            setupDropdown(".dropbtn_competitions", ".dropdown-content_competitions");
        };
    </script>
</body>
</html>

