{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>
<body class="footer-body">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>About Us</h4>
            <ul>
                <li><a href="{% url 'about_us' %}">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">In Press</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Support</h4>
            <ul>
                <li><a href="{% url 'contact-page' %}">Contact us</a></li>
                <li><a href="#">Online Chat</a></li>
                <li><a href="#">Whatsapp</a></li>
                <li><a href="#">Telegram</a></li>
                <li><a href="#">Ticketing</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>FAQ</h4>
            <ul>
                <li><a href="{% url 'faq_page' %}">Faq</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Manage Deliveries</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Returns</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contact Us</h4>
            <ul>
                <li><a href="{% url 'terms_page' %}">THEBETZONES UK</a></li>
                <li><a href="mailto:support@win4all.com">support@thebetzones.com</a></li>
            </ul>
            <div class="social-icons">
                <h4>Find Us On Social</h4>
                <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'images/vector.png' %}" alt="Vector"></a>
                <a href="#"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'images/twitter.png' %}" alt="Twitter"></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Our Locations</h4>
            <ul>
                <li><a href="#">UK, FR, AS</a></li>
                <li><a href="#">USA</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bar">
        <div class="footer-logo">THEBETZONES</div>
        <div class="footer-links">
            <span>Latest Competitions</span>
            <span>Entry Lists</span>
            <span>Live Draws</span>
            <span>Winners</span>
            <span>Gift Cards</span>
            <span>How it Works</span>
        </div>
    </div>
</footer>
</body>
</html>
