{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Lottery Events</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        const lottery_events_add_csrftoken="{{ csrf_token}}"; 
        const api_get_lottery_events_url = "{% url 'api_get_lottery_events' %}";
        const api_lottery_events_add_url = "{% url 'api_lottery_events_add' %}";
        const apiEditDeleteLotteryEventsUrl = "{% url 'api_edit_delete_lottery_events' 0 %}";
         // Fetch events when the page loads
    window.onload = function() {
        fetchLotteryEvents();
    };
    </script>

</head>
<body>

<h1>Manage Lottery Events</h1>
<!-- Form to Add New Lottery Event -->
<h2>Add New Lottery Event</h2>
<form id="addLotteryEventForm" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required><br>
    <span class="lottery_events_add_title_error" id="lottery_events_add_title_validation"></span><br>

    <textarea name="description" placeholder="Description" required></textarea><br>
    <span class="lottery_events_add_description_error" id="lottery_events_add_description_validation"></span><br>

    <input type="number" name="price" placeholder="Price" min="0" required><br>
    <span class="lottery_events_add_price_error" id="lottery_events_add_price_validation"></span><br>

    <input type="datetime-local" name="draw_date" required><br>
    <span class="lottery_events_add_drawdate_error" id="lottery_events_add_drawdate_validation"></span><br>

    <input type="file" name="image" accept="image/*" required><br>
    <span class="lottery_events_add_image_error" id="lottery_events_add_image_validation"></span><br>

    <input type="checkbox" name="is_active" checked> Active<br>
    <span class="lottery_events_add_isactive_error" id="lottery_events_add_isactive_validation"></span><br>

    <input type="number" name="total_tickets" placeholder="Total Tickets" min="1" step="1" value="1"><br>
    <span class="lottery_events_add_totaltickets_error" id="lottery_events_add_totaltickets_validation"></span><br>

    <button type="button" onclick="submitAddLotteryEvent()">Add Event</button>
</form>

<hr>
<div id="lottery-events-container" class="lottery-events-grid">
    <!-- Lottery event cards will be dynamically injected here -->
</div>

</body>
</html>
