{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery Events</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
    <script>
        const api_get_lottery_events_url = "{% url 'api_get_lottery_events' %}";
        window.onload = function() {
          lottery_events_fetchLotteryEvents();
          };
      </script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
    <h1 class="lottery_events_title">Lottery Events</h1>
    <div class="lottery_events_displayed_container" id="lottery_events_container">
        <!-- Lottery events will be displayed here -->
    </div>
    
</body>
</html>
