<aside class="myorder-sidebar"> 
    <ul class="myorder-menu">
        <li class="{% if request.resolver_match.url_name == 'personal-info-web' %}active{% endif %}">
            <a href="{% url 'personal-info-web' %}"><img src="/media/icons/profile.png" alt="icon"> Personal info</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'login_security' %}active{% endif %}">
            <a href="{% url 'login_security' %}"><img src="/media/icons/clock.png" alt="icon"> Login & Security</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'my-orders' %}active{% endif %}">
            <a href="{% url 'my-orders' %}"><img src="/media/icons/Line.png" alt="icon"> My Orders</a>
        </li>
        
         <li class="{% if request.resolver_match.url_name == 'my_won_lottery_page' %}active{% endif %}">
            <a href="{% url 'my_won_lottery_page' %}"><img src="/media/icons/Frame.png" alt="icon"> My Won Lotteries</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'user_chats' %}active{% endif %}">
            <a href="{% url 'user_chats' %}"><img src="/media/icons/noti.png" alt="icon"> My Chat</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'subscription_page' %}active{% endif %}">
            <a href="{% url 'subscription_page' %}"><img src="/media/icons/msg.png" alt="icon"> Subscription Plan</a>
        </li>
    </ul>
    <button class="scroll-right">▶</button>
</aside>
