<aside class="myorder-sidebar">
    <ul class="myorder-menu">
        <li><a href="{% url 'personal-info-web' %}"><img src="/media/icons/profile.png" alt="icon"> Personal info</a></li>
        <li><a href="{% url 'login_security' %}"><img src="/media/icons/clock.png" alt="icon"> Login & Security</a></li>
        <li><a href="{% url 'my-orders' %}"><img src="/media/icons/Line.png" alt="icon"> My Orders</a></li>
        <li><a href="#"><img src="/media/icons/Frame.png" alt="icon"> My Wallet</a></li>
        <li><a href="#"><img src="/media/icons/noti.png" alt="icon"> My Points</a></li>
    	<li><a href="{% url 'subscription_page' %}"><img src="/media/icons/msg.png" alt="icon"> Subscription Plan</a></li>
       
           </ul>
</aside>
